ieldset class="border p-3 mb-3">
  <legend class="float-none w-auto px-2">🚗 Informations sur le véhicule</legend>

  <div class="mb-3">
    <label for="id_marque" class="form-label">Marque</label>
    <input type="text" name="marque" id="id_marque" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="id_modele" class="form-label">Modèle</label>
    <input type="text" name="modele" id="id_modele" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="id_immatriculation" class="form-label">Immatriculation</label>
    <input type="text" name="immatriculation" id="id_immatriculation" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="id_puissance" class="form-label">Puissance</label>
    <input type="text" name="puissance" id="id_puissance" class="form-control">
  </div>
  <div class="mb-3">
    <label for="id_consommation" class="form-label">Consommation</label>
    <input type="text" name="consommation" id="id_consommation" class="form-control">
  </div>
  <div class="mb-3">
    <label for="id_assurance" class="form-label">Compagnie d'assurance</label>
    <input type="text" name="assurance" id="id_assurance" class="form-control">
  </div>
</fieldset>
