# Environnement Python
*.pyc
*.pyo
__pycache__/
env/
venv/
ENV/
.venv/
.Python

# Django
db.sqlite3
/media/
staticfiles/
static/css/
static/scss/

# Fichiers de config sensibles
*.env
*.env.local
*.env.prod

# Node.js / Frontend
node_modules/
npm-debug.log
yarn-error.log
build/

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Git
.git/
