{% extends 'base.html' %}
{% block title %}Détail du Bien | Gestion du Patrimoine{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1>🔎 {{ bien.nom }}</h1>
  <dl class="row">
    <dt class="col-sm-3">Catégorie</dt><dd class="col-sm-9">{{ bien.categorie.nom }}</dd>
    <dt class="col-sm-3">Sous-catégorie</dt><dd class="col-sm-9">{{ bien.sous_categorie.nom }}</dd>
    <dt class="col-sm-3">Entité</dt><dd class="col-sm-9">{{ bien.entite.nom }}</dd>
    <dt class="col-sm-3">Valeur initiale</dt><dd class="col-sm-9">{{ bien.valeur_initiale|floatformat:0 }} FCFA</dd>
    <dt class="col-sm-3">Date acquisition</dt><dd class="col-sm-9">{{ bien.date_acquisition }}</dd>
  </dl>
  <h3>Historique des valeurs</h3>
  {% if historiques %}
    <ul class="list-group mb-3">
      {% for h in historiques %}
        <li class="list-group-item d-flex justify-content-between">
          {{ h.date }}<span>{{ h.valeur|floatformat:0 }} FCFA</span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <h4>Ajouter estimation</h4>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Ajouter</button>
  </form>
</div>
{% endblock %}